# Pandas

In [1]:
import pandas as pd
import numpy as np

## Creating DataFrames

The two important structures for `pandas` is the `Series` and the `DataFrame`.  Let's start with `DataFrame`s.  

Data: a few lists

In [2]:
names = ['John', 'Matt', 'Sara', 'Jim', 'Ashley']
ids = [ 23, 34, 83, 86, 12]
balance = [10.2, 84.3, 72.9, 27.1, 223.1]

### Dictionaries

In [3]:
dic = {'ids': ids, 'names': names, 'bal':balance}

users = pd.DataFrame(dic)
print users

     bal  ids   names
0   10.2   23    John
1   84.3   34    Matt
2   72.9   83    Sara
3   27.1   86     Jim
4  223.1   12  Ashley

In [4]:
users = pd.DataFrame({'names': names, 'bal':balance}, index=ids)
print users

      bal   names
23   10.2    John
34   84.3    Matt
83   72.9    Sara
86   27.1     Jim
12  223.1  Ashley

Note: JSON format converts to a dictionary.

### Reading from a file

This example uses the names datafiles from [Social Security Administration](http://www.ssa.gov/oact/babynames/limits.html) and is based on the examples in Wes Mickinney's book [Python for Data Analysis](http://shop.oreilly.com/product/0636920023784.do)

In [5]:
import os
filename = os.path.join('data','yob1880.txt')
print filename
names = pd.read_csv(filename)
print names.head(3) #First 3 items

data/yob1880.txt
        Mary  F  7065
0       Anna  F  2604
1       Emma  F  2003
2  Elizabeth  F  1939

In [6]:
?pd.read_csv

If the file does not contain a header, then the names of the columns need to be passed as the **names** argument.

In [7]:
names = pd.read_csv(filename, names=['name','gender','births'])
print names.tail() # last items, 5 by default

           name gender  births
1995     Woodie      M       5
1996     Worthy      M       5
1997     Wright      M       5
1998       York      M       5
1999  Zachariah      M       5

### Excel

We'll come back to this data later.

In [8]:
df = pd.read_excel('data/income_2012.xls', 'H02', skiprows=4)
print df.head()

  Unnamed: 0  Unnamed: 1  Lowest fifth  Second fifth  Third fifth  \
0       2012      122459         3.230         8.332       14.360
1       2011      121084         3.200         8.400       14.300
2  2010 (37)      119927         3.268         8.467       14.591
3  2009 (36)      117538         3.409         8.607       14.572
4       2008      117181         3.400         8.600       14.700

   Fourth fifth  Highest fifth  Top 5 percent
0        23.036         51.041         22.311
1        23.000         51.100         22.300
2        23.407         50.267         21.307
3        23.151         50.260         21.725
4        23.300         50.000         21.500

### Other methods

You can also read from sql or hdf5 files.

## Selecting data

There are several ways to access the row and column data.

### Rows, the `ix` method

In [9]:
print names.ix[0]

name      Mary
gender       F
births    7065
Name: 0, dtype: object

In [10]:
print names.ix[0:2]

   name gender  births
0  Mary      F    7065
1  Anna      F    2604
2  Emma      F    2003

In [11]:
rows_a = [0,2,3]
print names.ix[rows_a]

        name gender  births
0       Mary      F    7065
2       Emma      F    2003
3  Elizabeth      F    1939

In [12]:
print users

      bal   names
23   10.2    John
34   84.3    Matt
83   72.9    Sara
86   27.1     Jim
12  223.1  Ashley

It's not the index **value** it's the index itself.  e.g.

In [13]:
print users.ix[86]

bal      27.1
names     Jim
Name: 86, dtype: object

In [14]:
print users.T.head()

         23    34    83    86      12
bal    10.2  84.3  72.9  27.1   223.1
names  John  Matt  Sara   Jim  Ashley

In [15]:
print names

           name gender  births
0          Mary      F    7065
1          Anna      F    2604
2          Emma      F    2003
3     Elizabeth      F    1939
4        Minnie      F    1746
5      Margaret      F    1578
6           Ida      F    1472
7         Alice      F    1414
8        Bertha      F    1320
9         Sarah      F    1288
10        Annie      F    1258
11        Clara      F    1226
12         Ella      F    1156
13     Florence      F    1063
14         Cora      F    1045
15       Martha      F    1040
16        Laura      F    1012
17       Nellie      F     995
18        Grace      F     982
19       Carrie      F     949
20        Maude      F     858
21        Mabel      F     808
22       Bessie      F     796
23       Jennie      F     793
24     Gertrude      F     787
25        Julia      F     783
26       Hattie      F     769
27        Edith      F     768
28       Mattie      F     704
29         Rose      F     700
...         ...    ...     ...
1970      Philo      M       5
1971    Phineas      M       5
1972    Presley      M       5
1973     Ransom      M       5
1974      Reece      M       5
1975       Rene      M       5
1976    Roswell      M       5
1977    Rowland      M       5
1978    Sampson      M       5
1979     Samual      M       5
1980     Santos      M       5
1981   Schuyler      M       5
1982   Sheppard      M       5
1983   Spurgeon      M       5
1984   Starling      M       5
1985   Sylvanus      M       5
1986   Theadore      M       5
1987  Theophile      M       5
1988     Tilmon      M       5
1989      Tommy      M       5
1990    Unknown      M       5
1991       Vann      M       5
1992        Wes      M       5
1993    Winston      M       5
1994       Wood      M       5
1995     Woodie      M       5
1996     Worthy      M       5
1997     Wright      M       5
1998       York      M       5
1999  Zachariah      M       5

[2000 rows x 3 columns]

### Column data

In [16]:
print users.ix[:,0].head()

23     10.2
34     84.3
83     72.9
86     27.1
12    223.1
Name: bal, dtype: float64

In [17]:
print names.ix[:,[2,1,0]].head()

   births gender       name
0    7065      F       Mary
1    2604      F       Anna
2    2003      F       Emma
3    1939      F  Elizabeth
4    1746      F     Minnie

Even better... grab them by name!

In [18]:
print users['names']

23      John
34      Matt
83      Sara
86       Jim
12    Ashley
Name: names, dtype: object

Or use the `.` (dot) notation.

In [19]:
print names['births'].head()

0    7065
1    2604
2    2003
3    1939
4    1746
Name: births, dtype: int64

Mix and match

In [20]:
print names.ix[0:10,['gender','births']]

   gender  births
0       F    7065
1       F    2604
2       F    2003
3       F    1939
4       F    1746
5       F    1578
6       F    1472
7       F    1414
8       F    1320
9       F    1288
10      F    1258

## Index objects

In [21]:
print users.index
print users.index.values

Int64Index([23, 34, 83, 86, 12], dtype='int64')
[23 34 83 86 12]

Several types, including:

- MultiIndex
- DatatimeIndex
- PeriodIndex

### reset_index

In [22]:
print users.head()

      bal   names
23   10.2    John
34   84.3    Matt
83   72.9    Sara
86   27.1     Jim
12  223.1  Ashley

In [23]:
print users.reset_index().head()

   index    bal   names
0     23   10.2    John
1     34   84.3    Matt
2     83   72.9    Sara
3     86   27.1     Jim
4     12  223.1  Ashley

In [24]:
print users.head()

      bal   names
23   10.2    John
34   84.3    Matt
83   72.9    Sara
86   27.1     Jim
12  223.1  Ashley

In [25]:
#users.reset_index(inplace=True)
tmp = users.reset_index()
print tmp.head()

   index    bal   names
0     23   10.2    John
1     34   84.3    Matt
2     83   72.9    Sara
3     86   27.1     Jim
4     12  223.1  Ashley

### set_index

In [26]:
print users

      bal   names
23   10.2    John
34   84.3    Matt
83   72.9    Sara
86   27.1     Jim
12  223.1  Ashley

In [27]:
users = users.set_index('names')

In [28]:
print users

          bal
names
John     10.2
Matt     84.3
Sara     72.9
Jim      27.1
Ashley  223.1

## Essentials

### Filtering

In [29]:
print users.bal > 30.0
tmp = users.bal > 30.0
print tmp.values

names
John      False
Matt       True
Sara       True
Jim       False
Ashley     True
Name: bal, dtype: bool
[False  True  True False  True]

In [30]:
print users[np.array(tmp.values)].head()

          bal
names
Matt     84.3
Sara     72.9
Ashley  223.1

In [31]:
print names[names.gender == 'F'].head()

        name gender  births
0       Mary      F    7065
1       Anna      F    2604
2       Emma      F    2003
3  Elizabeth      F    1939
4     Minnie      F    1746

In [32]:
print names.ix[names.gender == 'F',['name','births']].head()

        name  births
0       Mary    7065
1       Anna    2604
2       Emma    2003
3  Elizabeth    1939
4     Minnie    1746

In [33]:
mask1 = names.gender == 'M'
mask2 = names.births > 2000

In [34]:
print names[(mask1) | (mask2)].head()

        name gender  births
0       Mary      F    7065
1       Anna      F    2604
2       Emma      F    2003
942     John      M    9655
943  William      M    9533

and `&`, or `|`, not `~`

In [35]:
print names[::2].head()

     name gender  births
0    Mary      F    7065
2    Emma      F    2003
4  Minnie      F    1746
6     Ida      F    1472
8  Bertha      F    1320

### Sorting

Sort either index

In [36]:
print names.sort_index(ascending=False).head()

           name gender  births
1999  Zachariah      M       5
1998       York      M       5
1997     Wright      M       5
1996     Worthy      M       5
1995     Woodie      M       5

In [37]:
print names.sort_index(axis=1).head()

   births gender       name
0    7065      F       Mary
1    2604      F       Anna
2    2003      F       Emma
3    1939      F  Elizabeth
4    1746      F     Minnie

Sort the data

In [38]:
users = pd.DataFrame(dic)
print users.sort_values('names').head()

     bal  ids   names
4  223.1   12  Ashley
3   27.1   86     Jim
0   10.2   23    John
1   84.3   34    Matt
2   72.9   83    Sara

In [39]:
print names.sort_values(['births','name'], ascending=[False,True]).head()

        name gender  births
942     John      M    9655
943  William      M    9533
0       Mary      F    7065
944    James      M    5927
945  Charles      M    5348

What are the top 10 names in 1880?

In [40]:
print names.sort_values('births').tail(10)

        name gender  births
949   Thomas      M    2534
1       Anna      F    2604
948   Joseph      M    2632
947    Frank      M    3242
946   George      M    5126
945  Charles      M    5348
944    James      M    5927
0       Mary      F    7065
943  William      M    9533
942     John      M    9655

In [41]:
print names[names['gender'] =='F'].sort_values('births', ascending=False).head(10)

        name gender  births
0       Mary      F    7065
1       Anna      F    2604
2       Emma      F    2003
3  Elizabeth      F    1939
4     Minnie      F    1746
5   Margaret      F    1578
6        Ida      F    1472
7      Alice      F    1414
8     Bertha      F    1320
9      Sarah      F    1288

## Missing data

Data from Roger Peng [Coursera](https://www.coursera.org) class [Computing for Data Analysis](https://www.coursera.org/course/compdata).

In [42]:
data = pd.read_csv(os.path.join('data', 'hw1_data.csv'))
print data.head(10)

   Ozone  Solar.R  Wind  Temp  Month  Day
0     41      190   7.4    67      5    1
1     36      118   8.0    72      5    2
2     12      149  12.6    74      5    3
3     18      313  11.5    62      5    4
4    NaN      NaN  14.3    56      5    5
5     28      NaN  14.9    66      5    6
6     23      299   8.6    65      5    7
7     19       99  13.8    59      5    8
8      8       19  20.1    61      5    9
9    NaN      194   8.6    69      5   10

In [43]:
print len(data)

153

Drop any row with one or more `NaN`

In [44]:
print len(data.dropna())
# help(data.dropna)

111

In [45]:
print data[data!=299].dropna().head(10)

    Ozone  Solar.R  Wind  Temp  Month  Day
0      41      190   7.4    67      5    1
1      36      118   8.0    72      5    2
2      12      149  12.6    74      5    3
3      18      313  11.5    62      5    4
7      19       99  13.8    59      5    8
8       8       19  20.1    61      5    9
11     16      256   9.7    69      5   12
12     11      290   9.2    66      5   13
13     14      274  10.9    68      5   14
14     18       65  13.2    58      5   15

Check for `null` values for a column.

In [46]:
print data['Solar.R'].isnull().head()

0    False
1    False
2    False
3    False
4     True
Name: Solar.R, dtype: bool

In [47]:
print data['Solar.R'].notnull().head()

0     True
1     True
2     True
3     True
4    False
Name: Solar.R, dtype: bool

Filling in missing values with `fillna()`.

In [48]:
print data['Solar.R'].fillna(0).head()

0    190
1    118
2    149
3    313
4      0
Name: Solar.R, dtype: float64

Several methods parameters for `fillna`.

    ffill, limits, inplace, axiz, value

## Summarizing and describing

In [49]:
data.describe()

            Ozone     Solar.R        Wind        Temp       Month         Day
count  116.000000  146.000000  153.000000  153.000000  153.000000  153.000000
mean    42.129310  185.931507    9.957516   77.882353    6.993464   15.803922
std     32.987885   90.058422    3.523001    9.465270    1.416522    8.864520
min      1.000000    7.000000    1.700000   56.000000    5.000000    1.000000
25%     18.000000  115.750000    7.400000   72.000000    6.000000    8.000000
50%     31.500000  205.000000    9.700000   79.000000    7.000000   16.000000
75%     63.250000  258.750000   11.500000   85.000000    8.000000   23.000000
max    168.000000  334.000000   20.700000   97.000000    9.000000   31.000000

In [50]:
?data.describe

In [51]:
print data.count()

Ozone      116
Solar.R    146
Wind       153
Temp       153
Month      153
Day        153
dtype: int64

In [52]:
print data['Ozone'].mean()

42.1293103448

Several methods

    count, describe, min, max, argmin, argmax, sum, mean, median, var, std, pct_change

In [53]:
tmp = data.head(10).copy()
print data.head()

   Ozone  Solar.R  Wind  Temp  Month  Day
0     41      190   7.4    67      5    1
1     36      118   8.0    72      5    2
2     12      149  12.6    74      5    3
3     18      313  11.5    62      5    4
4    NaN      NaN  14.3    56      5    5

In [54]:
print tmp

   Ozone  Solar.R  Wind  Temp  Month  Day
0     41      190   7.4    67      5    1
1     36      118   8.0    72      5    2
2     12      149  12.6    74      5    3
3     18      313  11.5    62      5    4
4    NaN      NaN  14.3    56      5    5
5     28      NaN  14.9    66      5    6
6     23      299   8.6    65      5    7
7     19       99  13.8    59      5    8
8      8       19  20.1    61      5    9
9    NaN      194   8.6    69      5   10

In [55]:
tmp['Day'][tmp['Day'] < tmp['Month']] = 4
tmp['Ozone'][tmp['Ozone'] < 15 ] = 100

/Users/jake/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
/Users/jake/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

In [56]:
print tmp

   Ozone  Solar.R  Wind  Temp  Month  Day
0     41      190   7.4    67      5    4
1     36      118   8.0    72      5    4
2    100      149  12.6    74      5    4
3     18      313  11.5    62      5    4
4    NaN      NaN  14.3    56      5    5
5     28      NaN  14.9    66      5    6
6     23      299   8.6    65      5    7
7     19       99  13.8    59      5    8
8    100       19  20.1    61      5    9
9    NaN      194   8.6    69      5   10